@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

/* .homeform {
    background-color: aqua;
}

.searchboxblock {
    margin : 0 auto;
    background-color: yellow;
}

.searchbox {
    margin : 0 auto;
    display : block;
    width: 50%;
    
}

.material-symbols-outlined {
    margin : 0 auto;
} */