@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

li {list-style: none;}

.departmentList {
    display: block;
    margin: 10px;
    padding:10px;
}

.show-menu{
    position: block;
    /* top: 100px; */
    transition: 1s;
}
    
.hide-menu{
    position: block;
    /* top: 0px; */
    transition: 3s;
}

.sidebar_menu {
    padding:15px;
}