.signUp{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 500px;
    width: 800px;
    margin:-250px 0px 0px -400px;
}
.signUp__title{
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    letter-spacing:2px;
    margin:50px 0px 50px 0px;  /*css reset해주는 파일 연결하기*/
    color: rgb(92, 92, 92);
}
table{  /*테이블 전체*/
    width: 100%;
    position: relative;
}
table td{  /*한줄 한줄*/
    height: 50px;
    border-top: 0.5px solid rgb(200,200,200);
    border-bottom: 0.5px solid rgb(200,200,200);
}
table td input{  /*오른쪽 작성항목*/
    width: 300px;
    height: 14px;
    font-size: 15px;
    color:rgb(104, 100, 100);
    margin: 10px 10px 10px 10px;
}
.signUp__menu{  /*왼쪽 목차*/
    font-size: 15px;
    padding-left: 20px;
    border-right: 0.5px solid rgb(200,200,200);
}
.signUp__button{
    width:100%;
    margin-top:30px;
} 
.signUp__button > input {
    left: 50%;
    height:40px;
    width: 130px;
    margin-left:-65px;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color:rgba(31, 31, 31, 0.9);
}